<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
<link rel="icon" href="./assets/images/Asset 6.png">
    <title>Everest Businesss Funding</title>
</head>
<body>
    <style>
        #header{
background-image: url("./assets/images/1.png");
background-repeat: no-repeat;
background-size: cover;
height: 640px;
max-width: 550px; margin: 0 auto
        }
        .bts{
            margin-top: -46px !important;
        }
        .imgh{
            width: 200px;
            display: block;
            margin: auto;
padding-top: 30px;
        }
        .imgm{
            width: 340px;
            display: block;
            margin: auto;
        }
        .bts{
            display: block;
            margin: auto;
            width: 475px;
        }
        .btn-light{
            width: 230px;
            height: 61px;
            font-size: 21px;
            font-family: 'Roboto', sans-serif;
            background-color: #13269c !important;
            border-radius: 50px;
     box-shadow: 2px 1px 0px 2px lightgray !important;
    color: white !important;

        }
        .bline{
            width: 200px;
            border-bottom: 5px solid #13269c;
display: block;
margin: auto;
        }
        .iconz {
            width: 50px;
            display: block;
            margin: auto;
            padding-bottom: 20px;
        }
        .fbb{
            width: 550px;
        }
        #footer{
            background-image: url("./assets/images/Asset\ 3@4x.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
        }
        .nnb{
            text-align: center;
    color: white;
    margin-top: -45px;
        }
        #btnww{
            width: 200px;
    font-size: 26px;
    height: 119px;
    line-height: 1.2;
    border-radius: 61px;
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
     font-weight: 500;
     box-shadow: 2px 1px 0px 2px lightgray ;
     
}
        .bnz{
            /* width: 200px; */
            display: block;
            margin: auto;
            border-bottom: 2px solid #21409a;
            padding-bottom: 10px;
        }
        .mn{
            font-size: 38px;
        }
        .ddm{
            color: #13269c;
            text-align: center;
    font-family: 'Roboto', sans-serif;
font-weight: bolder;
font-size: 67px;
letter-spacing: 15px;
        }
        @media (min-width:360px) and (max-width : 767px) 
{
    .icons{
        margin-top: 29px;
    }
    #header{
        max-width: 100%;
        margin-bottom: 29px;
}
    .mtext{
        font-size: 17px;
    }
    .imgm{ 
        width: 225px;
    }
    .btn-light{
        width: 131px;
        font-size: 14px;
    }
    .bts{
        width: 275px;
    }
    #header{
        height: 557px;
    }
    .nnb{
        margin-top: -64px;
    }
    .bts{
        margin-top: -18px !important;
    }
}
    </style>
    <!-- HEADER -->
    <div  id="header">
        <img src="./assets/images/Asset 8.png" class="imgh" alt="">
        <br>
<h3 class="mtext" style="font-family:'Roboto', sans-serif; color: white; text-align: center; color:#13269c" >Other Funders Keeping You</h3>
<h1 class="ddm">DOWN?</h1>
<br>
<img src="./assets/images/p2.png" class="imgm" alt="">
<br>
<h2 style="font-family: 'Roboto', sans-serif; color: white; text-align: center; font-weight: 800;">Switch To Everest</h2>
<div class="bts">
    <button type="button" class="btn btn-light">Same Day Funding!</button>
    <button type="button" class="btn btn-light mx-1">Fast Commissions!</button>

</div>    
</div>
<br>
<br>
<br>
<!-- TERMS -->
<div style="max-width: 550px; margin: 0 auto;" >
<h2 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 800; color: #13269c;">NEW LONGER <span style="color: #13269c">TERMS!</span></h2>
<div class="bline"></div>
<br>
<br>
<img src="./assets/images/p1.png" class="img-fluid" alt="">
</div>    
<br>
<br>
<!--    DEALS -->
<div style="max-width: 550px; margin: 0 auto;" id="deals">
    <h2 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 800; color: #13269c;">SUBMIT YOUR <span style="color: #13269c">DEALS</span></h2>
    <br>
    <div class="icons">
<img src="./assets/images/Asset 5@4x.png" class="iconz" alt="">
<h2 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 800; color: #21409a;">everestbusinessfunding.com</h2>
<br>
<img src="./assets/images/3.png" class="iconz" alt="">
<h2 style="text-align: center; font-family: 'Roboto', sans-serif; font-weight: 800; color: #21409a">888-342-5709</h2>
  
</div>
    </div>
    <br>
    <br>
    <div style="max-width: 550px; margin: 0 auto;" id="deals">
    <form action="/" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Query</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="Query">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>    
    </div>
    <br>
    <br>
<div style="max-width: 550px; margin: 0 auto;" id="footer">
</div>
<div class="nnb">
    <p>Everest Business Funding | 8200 NW 52 Terrace Doral, FL 3316
</p></div>
</body>
</html>